<section class="form">
	<%= form_for :users, form_options do |f| %> 
	    <%= f.text_field  :first_name, :class => "input-fields", :required => true, :placeholder => "first name", :value => @user[:first_name]%>
	 
	    <%= f.text_field  :last_name, :class => "input-fields", :required => true, :placeholder => "last name", :value => @user[:last_name] %>

	    <%= f.text_field  :email, :class => "input-fields", :required => true, :type => "email", :placeholder => "email@email.com", 
	    				 :value => @user[:email] %>

	    <%= f.text_field  :username, :class => "input-fields", :required => true, :placeholder => "username", :value => @user[:username] %>

	    <%= f.password_field  :password, :class => "input-fields", :required => true, :placeholder => "password" %>

	    <%= f.password_field  :confirm_password, :class => "input-fields", :required => true, :placeholder => "confirm password"  %>

	  <%= submit_tag "Submit", :id => "btn" %>
	<% end %>
</section>


 