<section id="content" class="center">
	<% @users.each_with_index do |user, index| %>
		<div id="profile">
			<div id="user-info-container">
				<h1><%= user[:username] %>
				<span>[ <%= user[:first_name] %> <%= user[:last_name] %>]</span></h1>
				<%= link_to "Delete", user_path(index), :method => :delete,
														:confirm => "Delete?" %>
				<%= link_to "Profile", user_path(index) %>
				<div class="clear"></div>
				<div id="user-image">
					<%= image_tag user[:user_image] %>
				</div>
			</div>
		</div>
	<% end %>
</section>