<section id="content" class="center">
	<article id="profile">
		<div id="user-info-container">
			<h1><%= @user[:username] %>
			<span>[ <%= @user[:first_name] %> <%= @user[:last_name] %>]</span></h1>
			<% if load_current_user.username == params[:id] %>
				<%= link_to "Edit Profile", edit_user_path(load_current_user) %>
			<% end %>
			<div class="clear"></div>
			<div id="user-image">
				<!--<%= image_tag "juan_mata.jpg", :size => "120x80" %>-->
				<%= gravatar_image_tag @user[:email] %>
			</div>
		</div>
	</article>

	<article class="center">
		
	</article>

	<article id="bookmark-list">
		<h1><%= @user[:username] %>'s bookmarks</h1>
		<% @bookmarks.each do |bookmark| %>
				<section class="bookmark">
					<%= link_to bookmark_path(bookmark[:id]) do %>
						<table>
							<tr>
								<td><%= bookmark[:title] %></td>
								<td>
									<%= link_to "X", bookmark_path(bookmark), :method => :delete %>
								</td>
							</tr>
						</table>
					<% end %>
				</section>
		<% end %>
	</article>

</section>