<section id="content" class="center">
	<article id="profile">
		<div id="user-info-container">
			<h1><%= @user[:username] %>
			<span>[ <%= @user[:first_name] %> <%= @user[:last_name] %>]</span></h1>
			<%= link_to "Edit Profile", edit_user_path(params[:id]) %>
			<div class="clear"></div>
			<div id="user-image">
				<!--<%= image_tag @user[:user_image] %> -->
			</div>
		</div>
	</article>

	<article class="center">
		
	</article>

</section>