<%= form_for :bookmark, form_options do |f| %> 
	<%= f.text_field  :title, :class => "input-fields", :required => true, :placeholder => "title", :size => "40", :value => @bookmark[:title] %>

	<%= f.text_field  :url, :class => "input-fields", :required => true, :placeholder => "www.example.com/article1", :size => "40", :value => @bookmark[:url] %>

	<span>
        <%= field_set_tag nil, :class => "rateme" do %>
        	<%= f.radio_button "rateme", "5", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 5)%>
	        <%= f.label "rateme_5", "5" %>
	        <%= f.radio_button "rateme", "4", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 4) %>
	        <%= f.label "rateme_4", "4" %>
	        <%= f.radio_button "rateme", "3", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 3) %>
	        <%= f.label "rateme_3", "3" %>
	        <%= f.radio_button "rateme", "2", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 2) %>
	        <%= f.label "rateme_2", "2" %>
	        <%= f.radio_button "rateme", "1", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 1)%>
	        <%= f.label "rateme_1", "1" %>   
        <% end %>
	</span>

	<%= f.text_area :notes, :class => "input-fields", :required => true, :placeholder => "description", :cols => "40", :rows => "10", :value => @bookmark[:notes] %>

	<%= text_area_tag :tags, nil, :class => "input-fields", :required => true, :placeholder => "list of comma seperated tags", :cols => "40", :rows => "3" %>

	<span class="checkbox">Private <%= f.check_box :private, :checked => @bookmark[:private] %></span>

	<%= hidden_field_tag :user_id, nil, :value => params[:user_id] %>

	<%= submit_tag "Save", :id => "btn" %>	
<% end %>