<%= form_for :bookmarks, form_options do |f| %> 
	<%= f.text_field  :title, :class => "input-fields", :required => true, :placeholder => "title", :size => "40", :value => @bookmark[:title] %>

	<%= f.url_field  :address, :class => "input-fields", :required => true, :placeholder => "www.example.com/article1", :size => "40", :value => @bookmark[:source] %>

	<%= f.text_field  :type, :class => "input-fields", :required => true, :placeholder => "bookmark type (e.g. Video or Article)", :size => "40", :value => @bookmark[:type]%>

	<span>
        <%= field_set_tag nil, :class => "rateme" do %>
        	<%= f.radio_button "rateme", "5", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 5)%>
	        <%= f.label "rateme_5", "5" %>
	        <%= f.radio_button "rateme", "4", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 4) %>
	        <%= f.label "rateme_4", "4" %>
	        <%= f.radio_button "rateme", "3", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 3) %>
	        <%= f.label "rateme_3", "3" %>
	        <%= f.radio_button "rateme", "2", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 2) %>
	        <%= f.label "rateme_2", "2" %>
	        <%= f.radio_button "rateme", "1", :name => "rateme", 
        									  :checked => (@bookmark[:rating] == 1)%>
	        <%= f.label "rateme_1", "1" %>   
        <% end %>
	</span>

	<%= f.text_area :description, :class => "input-fields", :required => true, :placeholder => "description", :cols => "40", :rows => "10", :value => @bookmark[:description] %>

	<%= f.text_area :tags, :class => "input-fields", :required => true, :placeholder => "list of comma seperated tags", :cols => "40", :rows => "5", :value => (@bookmark[:tags]).join(",") %>

	<span class="checkbox">Private <%= f.check_box :isPrivate, :checked => @bookmark[:isPrivate] %></span>

	<%= submit_tag "Save", :id => "btn" %>	
<% end %>