<section id="people-container">
	<h1><%= @bookmark[:title] %></h1>
	<table id="details">
		<tr>
			<td>
				<% @bookmark[:rating].to_i.times do %>
					&bigstar;
				<% end %>
				<% (5-(@bookmark[:rating].to_i)).times do %>
					&star;
				<% end %>
			</td>
			<td>
				<span id="btn">
					<%= link_to "Delete", bookmark_path(params[:id]), 
						:method => :delete, 
						:confirm => "Are ju shure ju wantt to deleeete?"%>
				</span>
				<span id="btn">
					<%= link_to "Edit", edit_bookmark_path(params[:id]) %>
				</span>
			</td>
		</tr>
		<tr>
			<td class="column-width" colspan="3">
				<%= link_to "Link to the bookmark", @bookmark[:url]%> 
			</td>
		</tr>
		<tr>
			<td><h1>Description</h1></td>
		</tr>
		<tr>
			<td class="column-width" colspan="3"><%= @bookmark[:notes] %></td>
		<tr>

		<tr>
			<td>
				<% @tags.each do |tag| %>
					<%= link_to "##{tag[:name]}", tag_path(tag[:name]) %>
				<% end %>
			</td>
		</tr>
		
	</table>
</section>