<!DOCTYPE html>
<html>
<head>
  <title>clip it!</title>
  <%= favicon_link_tag		"favicon.ico", :rel => "icon", :type => "image/ico"%>
  <%= stylesheet_link_tag	"application", :media => "all" %>
  <%= stylesheet_link_tag	"http://fonts.googleapis.com/css?family=Tangerine" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="content-wrapper">
			<hgroup>
				<ul>
					<li><%=image_tag"attachment.png"%></li>
					<li>
						<h1 id="logo"><%= link_to "clip it!", @user %></h1>
					</li>
				</ul>
			</hgroup>

			<nav id="menu">
				<ul>
					<% if @user %>
					<li><%= link_to "Profile", user_path(@user) %></li>
					<% end %>
					<li><%= link_to "Tags", tags_path %></li>
					<li><%= link_to "Popular", popular_bookmarks_path %></li>

					<% if @user %>
					<li><%= link_to "New", :controller => :bookmarks,
										   :action => :new,
										   :user_id => @user[:id] %></li>
					<% end %>
					<!--<li><%= link_to "People", "#" %></li> -->
				</ul>
			</nav>

			<nav id="right">
				<ul>
					<li><%= link_to "Logoff", "#" %></li>
				</ul>
			</nav>

		</div>
	</header>

	<section id="main-wrapper" class="content-wrapper">
		<% if flash[:notice] %>
		  <p class="dark-color">
		    <%= flash[:notice] %>
		  </p>
		<% end %>

		<%= yield %>
	</section>

	<footer>
		<div class="content-wrapper"><small>&copy; Copyright Pardeep "SherCoder" Singh 2012</small></div>
	</footer>

</body>
</html>
