<!DOCTYPE html>
<html>
<head>
  <title>clip it!</title>
  <%= favicon_link_tag		"favicon.ico", :rel => "icon", :type => "image/ico"%>
  <%= stylesheet_link_tag	"application", :media => "all" %>
  <%= stylesheet_link_tag	"http://fonts.googleapis.com/css?family=Tangerine" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="content-wrapper">
			<hgroup>
				<ul>
					<li><%=image_tag"attachment.png"%></li>
					<li><h1 id="logo"><%= link_to "clip it!", root_path %></h1></li>
				</ul>
			</hgroup>

			<nav id="menu">
				<ul>
					<li><%= link_to "Tags", "#" %></li>
					<li><li><%= link_to "Popular", "#" %></li></li>
				</ul>
			</nav>

			<nav id="right">
				<ul>
					<li><%= link_to "Login", "#" %></li>
					<li><%= link_to "Register", signup_path %></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="main-wrapper" class="content-wrapper">
		<%= yield %>
	</section>

	<footer>
		<div class="content-wrapper"><small>&copy; Copyright Pardeep "SherCoder" Singh 2012</small></div>
	</footer>

</body>
</html>
